<!DOCTYPE html>
<html>
<head>
  <title>Tunr2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <nav>
      <ul>
        <li>Welcome, <%= current_user.email %> | </li>
        <li>Balance: $<%= current_user.balance.to_f %></li>
        <li><%= link_to "Logout", session_path, method: :delete %></li>
      </ul>
    </nav>
  <% end %>

  <%= yield %>

</body>
</html>
